html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}

#gameCanvas {
    background: #FEF9F2;
    width: 800px;
    height: 600px;
}
